player-connection-mode=Listen
player-connection-guid=3457473660
player-connection-debug=1
player-connection-project-name=NoMansLand_Server
player-connection-ip=192.168.59.1
player-connection-ip=192.168.92.1
player-connection-ip=172.16.1.234
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
